<p>Bonjour,</p>
<p>Vous avez demandé un renouvelement de mot de passe</p>
<p>
    
    <a href="{{ url }}">Veuillez cliquez ici pour changer de mot de passe</a>
</p>

<p>Ce lien est valable 1 jour.</p>