.restaurant-header {
  background-image: url(../../background.png);
  background-position: center;
  background-size: cover;
  color: white;
  max-width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartes-header {
  text-align: center;
  width: 40vw;
}

.empty-card {
  color: rgb(194, 194, 194);
}

.card {
  height: 30vh;
  transition: transform 0.4s;
  cursor: pointer;
  position: relative;

  &.selected::after {
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    border: solid orange 2px;
    position: absolute;
  }

  &:hover {
    transform: scale(1.05);

    .card-actions {
      visibility: visible;
    }

    .card-image::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.4);
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.icon-add {
  color: black;
  opacity: 0.1;
}

.card-image {
  position: relative;
  height: 50%;
  background-size: cover;
  background-position: center;
}

.card-actions {
  position: absolute;
  top: 0%;
  right: 1.2vh;
  display: flex;
  flex-direction: column;
  visibility: hidden;

  i {
    margin-top: 1.2vh;
  }
}
