
body {
    background-color: rgb(var(--v-theme-background));
}

.v-btn {
    min-width: 0;
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: #0066CC;
 
    &:active {
        color: #0066CC;
    }
}